---
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";

const currentGoals = await getEntry("goals", "2023-10");
const { Content: CurrentGoalsContent } = await currentGoals.render();
---

<Layout title="burntobsidian's home">
	<main class="mx-auto w-11/12 max-w-7xl">
		<h1
			class="mx-auto max-w-[14ch] py-36 text-center font-cal text-4xl sm:text-6xl md:text-8xl lg:text-9xl"
		>
			burntobsidian's home
		</h1>
		<p class="pb-32 text-center">documenting my journey through time</p>
	</main>
	<section class="mx-auto w-11/12 max-w-7xl p-4">
		<h2 class="pb-2 font-cal text-lg md:text-2xl">
			{currentGoals.data.timeframe} goals
		</h2>
		<CurrentGoalsContent />
	</section>
</Layout>
