---
import Layout from "../layouts/Layout.astro";
import { Button } from "../components/ui/button";
---

<Layout title="burntobsidian's home.">
	<main class="mx-auto w-11/12 max-w-7xl">
		<h1 class="mx-auto max-w-[14ch] py-36 text-center font-cal text-8xl">
			<span>burntobsidian's</span> home
		</h1>
		<p class="text-center">
			doing 100 new things to try and fail at them.

			<Button size="sm" variant="outline" className="ml-2 text-center">
				Check it out
			</Button>
		</p>
	</main>
</Layout>

<style></style>
