---
import Layout from "../layouts/Layout.astro";
---

<Layout title="burntobsidian's home">
	<main class="mx-auto w-11/12 max-w-7xl">
		<h1
			class="mx-auto max-w-[14ch] py-36 text-center font-cal text-4xl sm:text-6xl md:text-8xl lg:text-9xl"
		>
			burntobsidian's home
		</h1>
		<p class="text-center">documenting my journey through time</p>
	</main>
</Layout>

<style></style>
